<h2 class="text-center">PRODUCTOS AGREGADOS AL CARRITO</h2>
<div class="row m-5 gap-5">
    {{#each cart}} 
        {{#if cart.length}} 
            {{#each cart}} 
                <div class="border border-dark card gap-2">
                    <p class="text-center"> {{cart.nombre}}</p>
                    <img src="{{cart.imagen}}" alt="productImage">
                    <p class="text-center">Precio: ${{cart.precio}}</p>
                    <p class="text-center">Cantidad: {{cart.quantity}}</p>
                    <button>Eliminar</button>
                    <button>Editar</button>
                </div>
            {{/each}} 
        {{else}}
            <p class="text-center">NO HAY PRODUCTOS AGREGADOS AL CARRITO</p>
        {{/if}} 
    {{/each}} 
</div>


<style>
.card{
    background-color: blue;
    width: 300px;
    height: 500px;
   object-fit: contain;
}
.card:hover{
    box-shadow: 10px 10px 10px blue;
}
</style>